---
import "$lib/styles/app.css"

import Layout from '$lib/layouts/Layout.astro';

import {Button} from "$lib/components/ui/button";




// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<Button>Get greetings</Button>
</Layout>

<script>
	import { actions } from 'astro:actions';

	const button = document.querySelector('button');
	button?.addEventListener('click', async () => {
		const { data, error } = await actions.getGreeting({ name: "Houston" });
		if (!error) alert(data);
	});
</script>
